@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    background: black;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.left-side {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft 2s ease; 
}

.right-side {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight 2s ease;
}

.header-logo {
    font-size: 9rem;
    /* Gradient background */
    background: linear-gradient(90deg, #0157f9, #ffffff, #4f2ab6);
    background-size: 200% 100%; /* Makes the gradient twice as wide */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Smooth edges */
    text-rendering: optimizeLegibility;
    margin-top: 0.5em;
    animation: moveGradient 3s linear infinite;
}

.config-img {
    height: 70%;
    width: auto;
    border-radius: 1em;
    position: relative;
    top: 0em;
    left: 6em;
}

.config-img2 {
    height: 70%;
    width: auto;
    border-radius: 1em;
    position: relative;
    top: 2em;
    left: 0%;
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    color: white;
    width: 90%;
    z-index: 100;
    animation: fadeIn 4s ease;
    height: 5em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.nav-links button {
    background: none;
    border: none;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

.features {
    height: 100vh;
    background: white;
}

@keyframes moveGradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }

  .feature-heading {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #0157f9, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Gradient text effect */
    text-rendering: optimizeLegibility;
    margin: 0;
    animation: textGlow 3s ease-in-out infinite;
  }

  .feature-subheading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin-top: 1rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em
  }

  .grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(white 1px, transparent 1px),
                      linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 40px 40px; /* Grid size */
    opacity: 0.1; /* Makes the grid lines very subtle */
    z-index: -2; /* Ensures the grid stays behind all other content */
}