@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #131313;
}

.create-box {
    flex: 1;
    margin-left: 2.3em;
    background: #1d1f20;
    border-radius: 1em;
    height: 98vh;
    position: fixed;
    right: 0.5em;
    left: 1em;
    z-index: 1;
    overflow-y: auto;
    color: white;
    overflow: hidden;
}

.create-content {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    opacity: 0;
    animation: fadeInElements 0.8s forwards;
}

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
    animation: fadeInElements 1s linear;
    z-index: -1;
    opacity: 1;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

  @keyframes fadeInElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    overflow-y: auto;
    position: relative;
}

.chat-message {
    max-width: 70%;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    animation: fadeInElements 0.3s forwards;
}

.chat-message.bot {
    /* background: #39777d; */
    background: rgb(232,137,215);
    background: linear-gradient(90deg, rgba(232,137,215,0) 0%, rgba(212,133,215,1) 0%, rgba(82,106,215,1) 88%);
}

.chat-message.user {
    align-self: flex-end;
    /* background: #02576f; */
    background: rgb(41,245,255);
    background: linear-gradient(90deg, rgba(41,245,255,0) 0%, rgba(60,188,247,1) 0%, rgba(201,82,215,1) 88%);
}

.user-input {
    position: fixed;
    bottom: 1em;
    left: 4em;
    right: 2.75em;
    z-index: 1;
}

.user-input input {
    width: 100%;
    padding: 1em;
    border-radius: 8px;
    border: none;
    background: #2a2a2a;
    color: #ffffff;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    padding: 10px 20px;
    background-color: #0157f9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.dropdown-options {
    position: absolute;
    top: -200%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    color: black;
}

.dropdown-options div {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.dropdown-options div:hover {
    background-color: #eaeaea;
}

.anim-loader {
    height: 120vh;
    width: 100%;
    background: #02576f;
    display: none;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
    
}
