@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
	font-family: 'Inter', sans-serif;
    background: #1d1f20;
}

.dashboard {
	display: flex;
	height: 100vh;
}

.main-content {
    margin-top: 0.5em;
	flex: 1;
	margin-left: 2.3em;
    background: white;
    border-radius: 1em;
    height: 98%;
    position: fixed;
    right: 0.3em;
    left: 1em;
    padding-left: 2em;
    z-index: 1;
    background: #131313;
    background: radial-gradient(circle, rgba(19, 19, 19, 0) 0%, rgba(19, 19, 19, 0.6) 0%, rgba(0, 0, 0, 0.9) 100%);
    overflow: hidden;
}

.main-content h1 {
    font-size: 2.5em;
	margin-bottom: 0.625em;
    margin-top: 0.4em;
    color: white;
}

.chatbots-list {
    margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
}

.add-chatbot-button, .chatbot-item {
	width: 15vw;
    height: 10em;
	border-radius: 15px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease;
	position: relative;
	background-color: #0157f9;
    color: white;
    min-width: 10em;
    max-width: 15em;
}

.plus-icon {
	position: relative;
    color: #0157f9;
    width: 1.25em;
    height: 1.25em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0157f9;
}

.add-chatbot-button:hover {
    background-color: #0336f1;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    100% {
        transform: translate(0.25em, -6em);
        left: 0;
        right: 0;
        top: 0;
        width: 99.5%;
        height: 98vh;
        margin: 0;
        padding: 0;
        background: #1d1f20;
    }
}

@keyframes remove-margin {
    100% {
        background: transparent;
        margin: 0;
    }
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(white 1px, transparent 1px),
                      linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 40px 40px; /* Grid size */
    opacity: 0.04; /* Makes the grid lines very subtle */
    z-index: -2; /* Ensures the grid stays behind all other content */
}

/* Glowing Line */
.glowing-line {
    position: absolute;
    top: 0;
    width: 2px;
    height: 2%;
    background: #0157f9;
    box-shadow: 0 0 10px rgba(#0157f9, 0.8);
    animation: glowMove 3s linear forwards;
    z-index: -1; /* Behind other elements but above the grid */
}

.glowing-line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    top: 100%;
    left: 0px;
    background: #0157f9;
    border-radius: 50%;
    z-index: -1; /* Behind the line */
    pointer-events: none;
    box-shadow: 0 0 100px 40px #0157f9; /* Glowing effect */
}


/* Glowing Line Animation */
@keyframes glowMove {
    0% {
        top: -10%;
        opacity: 1;
    }
    100% {
        top: 100%;
        opacity: 0;
        height: 50%;
    }
}

/* Cell Glow Effect */
.grid-cell {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    position: absolute;
    box-sizing: border-box;
}

.glow-border {
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.chatbot-item {
    background: linear-gradient(135deg, #00d2ff, #3a7bd5);
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1em;
    padding-top: 1em;
    height: 9em;
    width: calc(15vw - 1em);
    color: black;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: fadeIn 1s ease-in-out forwards;
}

.chatbot-item h2 {
    color: white; /* Neon holographic text gradient */
    font-weight: bold;
    margin: 0;
}

.chatbot-item p {
    color: #b9bbbe; /* Lighter color for description */
    margin: 0; /* No margin */
    font-size: 1em; /* Adjust the size as needed */
}

.chatbot-item-icon {
    font-size: 1.8em; /* Adjust icon size */
    color: #7289da; /* Color for the icon */
}

.chatbot-item-details {
    flex: 1; /* Take up remaining space */
    margin-left: 15px; /* Space between the icon and the details */
}

.chatbot-item h2,
.chatbot-item p {
    text-align: left;
    z-index: 2;
}

.chatbot-item-delete {
    font-size: 1.2em;
    color: #ff5c5c;
    cursor: pointer;
    transition: color 0.3s ease;
}

.chatbot-item-delete:hover {
    color: #ff3232; /* Slightly brighter red on hover */
}

.bubble {
    width: 12%;  /* Adjust the size as needed */
    min-width: 8em;
    height: 10rem; /* Twice the width for a clean semi-circle */
    background-color: #00ffc6; /* Or whatever color you want */
    border-radius: 1em 100px 100px 1em;
    margin-left: -1em; 
    opacity: 0.1;
    margin-top: -1em;
    position: fixed;
    max-width: 12em;
}

.bot-settings-button {
    margin-right: 0.5em;
    margin-top: 0.1em;
}

.bot-header-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown-menu {
    position: absolute;
    top: 30%;
    right: 0;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
  
.dropdown-menu div {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown-menu div:hover {
    background-color: #444;
}

.delete-text {
    color: #FF4500;
}

.edit {
    border-bottom: 0.1px solid white;
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.blinking-cursor {
    display: inline-block;
    width: 1px;
    background-color: #fff; /* The color of the cursor */
    animation: blink 1s infinite;
    margin-left: 2px; /* Add some space between the text and the cursor */
    height: 1em; /* Adjust to the height of the text */
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.chatbot-icon {
    height: 10em;
    width: 10em;
    opacity: 1;
    right: -2em;
    bottom: -2em;
    position: absolute;
    rotate: -60deg;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}

.css-1u32qsq {
    display: flex !important;
    width: auto !important;
}

.custom-credit {
    margin-left: 15px !important;
}

.credit-input {
    border-radius: 5px;
    height: 20px;
    padding: 6px;
    border: 1px solid white;
    width: 80px;
}

/* Remove the spinner controls in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the spinner controls in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.credits {
    color: white;
    margin-left: 2.6em;
    margin-top: 3em;
}